 @import "bootstrap/scss/bootstrap";

 $fa-font-path: '@fortawesome/fontawesome-free/wenfonts';
 @import "@fortawesome/fontawesome-free/scss/fontawesome";
 @import "@fortawesome/fontawesome-free/scss/regular";

 .field_with_errors {
   display: contents;

   input {
     border: 2px solid red;
   }
 }
